.bigText {
	float: left;
	text-align: center;	
}

div.board {
	width: 600px;
	height: 600px;
	margin: auto;
	margin-top: 30px;
}

div.box {
	border: 1px solid #000;
	height: 200px;
	width: 200px;
	background-color: #f2f2f2;
	font-size: 11rem;
	text-align: center;
	font-family: sans-serif;
	font-weight: bold;
}
div.box:hover {
background-color: #555;
}

.row {
	display: flex;
}

.controlBox {
	border: 1px solid #000;
	height: 145px;
	width: 125px;
	background-color: #f2f2f2;
	float: left;
	position: absolute;
	bottom: 15%;
	left: 20px;
	text-align: center;
	padding-top: 10px;
}

input.Reset {
	width: 80%;
	margin-top: 10px;	
	margin-left: 10%;
	margin-right: 10%;

}

input.player {
	width: 50%;
	height: 56px;
	text-align: center;
	font-size: 34pt;
	margin-left: 24%;
	margin-right: 24%;
	margin-top: 10px;
}
h1 {
font: 33pt sans-serif;
padding-left: 35px;
}

h4 {
margin-top: 10px;
}